body{
    overflow:hidden;
}
#sky, #night, #stars{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
}

#sun_yellow{
    position:absolute;
    left:80%;
    top:20%;
    width:150px;
    height:152px;
    background:transparent url(../Content/sun.png) no-repeat center center;
    z-index:20;
}

#ground{
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:232px;
    background:transparent url(../Content/ground.png) repeat-x bottom center;
    z-index:20;
}
#night{
    background-color:#000;
    z-index:20;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#stars{
    bottom:200px;
    background:transparent url(../Content/stars.png) repeat bottom center;
    z-index:20;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#sstar{
    position:absolute;
    left:40%;
    top:10%;
    width:126px;
    height:80px;
    background:transparent url(../Content/shootingstar.png) no-repeat 80px -200px;
    z-index:5;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#moon{
    position:absolute;
    left:45%;
    top:60%;
    width:168px;
    height:168px;
    background:transparent url(../Content/moon.png) no-repeat center center;
    z-index:20;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}