html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Arial;
}

.player {
    background:transparent url(../Content/otherPlayer.png) center center;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 99;
}

.me {
    background:transparent url(../Content/player.png) center center;
    background-size: 80px 80px;
    cursor: move;
    width: 80px;
    height: 80px;
    z-index: 99;
}

#boss {
    width: 80px;
    height: 80px;
    position: absolute;
    visibility: hidden;
    z-index: 99;
}

#info {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 72px;
    color: #cdcdcd;
    z-index: 99;
}

canvas {
    overflow: hidden;
    top: 0;
    z-index: 10;
}

button {
    width: 20px;
    height: 20px;
    z-index: 99;
}

.buttons {
    position: absolute;
    top: 0;
    z-index: 99;
}

#compass {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 150px;
    z-index: 99;
}

#needle {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 150px;
    z-index: 99;
}
